body {
    background: #F8F8FF;
    font-family:Ariel, Helvetic, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10x;
    background:#00BFFF;
    border-radius:40px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:40px solid #808080
}

.assignment img:hover {
    border:4px dashed green
}

h1 {
    color:#DC143C;
    text-align:center;
}

h1:hover {
    color:yellow;
    text-align:center;
}

a {
    text-decoration:none;
    color:#4B0082;
}

a:hover {
    color:brown;
}